@font-face {
    font-family: "Domine"; 
    src: url("../fonts/Domine-Bold.ttf") format(".ttf")
    url("../fonts/Domine-Regular.ttf") format(".ttf"); 
}

@font-face {
    font-family: "Montserrat"; 
    src: url("../fonts/Montserrat-Bold.ttf") format(".ttf")
    url("../fonts/Montserrat-Regular.ttf") format(".ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf") format(".ttf")
    url("../fonts/OpenSans-Regular.ttf") format(".ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button, img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 220px 0 210px;
}

.point {
    color: #fa5c65;
}

.right-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

/* ------header-top --------- */
.container-header-background {
    padding: 0 220px 0 210px;
    height: 100vh;
    background-image: url('../images/backgroundHeader.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-logo {
    width: 20%;
    display: flex;
}

.header-menu {
    width: 40%;
}

.header-menu-ico {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.main-nav li a {
    padding: 0 15px;
    color: #263742;
}

.main-nav a:hover{
    color: #fa5c65;
    font-weight: bold;
}

.header-ico {
    width: 25%;
}

.header-ico img {
    padding: 0 15px;
}

.top-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.top {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    line-height: 1.5;
}

.slogan-title-text h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: #314a5b;
}

.slogan-title-text p {
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    color: #314a5b;
}

.top-button button {
    background-color: #fa5c65;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 20px 43px;
    margin-top: 46px;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    font-family: OpenSans-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.top-button button:hover {
    color: #fff;
    background-color: #263742;
    font-family: OpenSans-Bold, sans-serif;
    font-weight: bold;
}

/* ------content------ */
/* -------content-snippet------ */
.content-snippets {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 87px;
    line-height: 1.5;
}

.snippet {
    width: 30%;
}

.snippet h1 p {
    display: flex;
}

.snippet h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: #465065;
}

.snippet .snippet-paragraph {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    color: #9aa0ab;
    margin: 27px 0;
}

.snippet .more-text {
    display: flex;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    color: #fa5c65;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
}

.snippet:hover .more-text  {
    display: flex;
    flex-direction: row;
    opacity: 1;
}

/* -------content-portfolio------ */
.portfolio-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 47px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 1.5;
    margin-top: 40px;
}

.wrapper-img-macbook .portfolio {
    display: flex;
    flex-direction: row;
    width: 50%; 
    opacity: 0;
}

.portfolio h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #314a5b;
}

.portfolio h2 {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #3d5565;
}

.portfolio .portfolio-paragraph {
    margin: 35px 0;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    color: #9aa0ab;
}


.content-portfolio .more-text {
    display: flex;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    color: #fa5c65;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
}

.portfolio:hover .more-text {
    display: flex;
    flex-direction: row;
    opacity: 1;
}

/* -------content-our-team------ */
.our-team-title {
    width: 75%;
}

.our-team-title h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #314a5b;
}

.our-team-title .our-team-title-paragraph {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 16px;
    color: #9aa0ab;
    margin-top: 18px;
}

.team-member {
    width: 50%;
    margin-left: 28px;
}

.team-member h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #314a5b;
}

.team-member h2 {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    color: #f0454c;
}

.team-member .our-team-members-paragraph {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    color: #aeb3bc;
}

.our-team .more-text .more {
    display: flex;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    color: #fa5c65;
    text-transform: uppercase;
    font-weight: bold;
}

.our-team .more-text {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 55px;
}

.our-team-members {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    line-height: 1.5;
}

.team-members {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.team-member:hover .more-text { 
    opacity: 1;
}

.wrapper-img-member {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.wrapper-img-member .more-text {
    opacity: 0;
}

/* -------content-footer------ */
.line {
    margin: 62px 0 35px 0;
    border-bottom: 1px solid #e6eaed; 
}

.icons-and-copyrights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.social-icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.copyright .copyright-paragraph {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #b9c0c6;
}

.copyright {
   width: 35%;
}

/* ------ */
@media screen and (max-width: 1280px) {
    .container {
        padding: 0 120px 0 110px;
    }

    /* ------header-top --------- */
    .container-header-background {
        padding: 0 120px 0 110px;
    }

    .header-logo {
        width: 20%;
        display: flex;
    }

    .header-logo img {
        width: 100px;
    }
    
    .header-menu {
        width: 30%;
    }
    
    .main-nav {
        font-size: 11px;
    }

    .main-nav li a {
        padding: 0 10px;
        color: #263742;
    }

    .main-nav a:hover{
        color: #fa5c65;
        font-weight: bold;
    }

    .header-ico {
        width: 20%;
    }

    .header-ico img {
        padding: 0 10px;
    }

    .header-ico img:last-child {
        padding-left: 0;
    }

    .slogan-title-text h1 {
        font-size: 28px;
    }

    .slogan-title-text p {
        font-size: 16px;
    }

    .top-button button {
        border-radius: 3px;
        padding: 10px 23px;
        margin-top: 25px;
        font-size: 12px;
    }

    /* ------content------ */
    /* -------content-snippet------ */
    .content-snippets {
        margin-top: 47px;
        line-height: 1.5;
    }

    .snippet {
        width: 30%;
    }

    .snippet h1 {
        font-size: 16px;
    }

    .snippet .snippet-paragraph {
        font-size: 11px;
        margin: 20px 0;
    }

    .snippet .more-text {
        font-size: 11px;
    }

    /* -------content-portfolio------ */
    .portfolio-elements {
        margin-top: 27px;
    }

    .portfolio {
        margin-top: 20px;
    }

    .portfolio h1 {
        font-size: 20px;
    }

    .portfolio h2 {
        font-size: 12px;
    }

    .portfolio .portfolio-paragraph {
        margin: 17px 0;
        font-size: 11px;
    }

    .wrapper-img-macbook img {
        width: 250px;
    }

    .content-portfolio .more-text {
        font-size: 11px;
    }

    /* -------content-our-team------ */
    .our-team-title {
        width: 75%;
    }

    .our-team-title h1 {
        font-size: 20px;
    }

    .our-team-title .our-team-title-paragraph {
        font-size: 12px;
        margin-top: 9px;
    }

    .team-member {
        width: 50%;
        margin-left: 14px;
    }

    .team-member h1 {
        font-size: 18px;
    }

    .team-member h2 {
        font-size: 11px;
    }

    .team-member .our-team-members-paragraph {
        font-size: 9px;
    }

    .our-team .more-text .more {
        font-size: 11px;
    }

    .our-team .more-text {
        margin-top: 25px;
    }

    .our-team-members {
        margin-top: 24px;
        line-height: 1.5;
    }

    .photo-member {
        width: 75px;
    }

    /* -------content-footer------ */
    .line {
        margin: 32px 0 35px 0;
    }

    .icons-and-copyrights {
        margin-bottom: 30px;
    }

    .social-icons {
        width: 30%;
    }

    .social-icons img {
        width: auto 0;
    }

    .copyright .copyright-paragraph {
        font-size: 9px;
    }

    .copyright {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 60px 0 55px;
    }

    /* ------header-top --------- */
    .container-header-background {
        padding: 0 60px 0 55px;
    }

    .header-logo {
        width: 20%;
    }

    .header-logo img {
        width: 70px;
    }

    .header-menu {
        display: none;
        /* width: 30%; */
    }
    
    /* .main-nav {
        font-size: 11px;
    }

    .main-nav li a {
        padding: 0 10px;
    } */

    .header-ico {
        width: 20%;
    }

    .header-menu-ico {
        display: flex;
        justify-content: flex-end;
        width: 70%;
    }

    .header-ico img {
        margin-top: 10px;
        width: auto 0;
        padding: 0 5px;
    }

    .slogan-title-text h1 {
        font-size: 20px;
    }

    .slogan-title-text p {
        font-size: 12px;
    }

    .top-button button {
        border-radius: 3px;
        padding: 15px 20px;
        margin-top: 20px;
        font-size: 9px;
    }

    /* ------content------ */
    /* -------content-snippet------ */
    .content-snippets {
        margin-top: 27px;
        line-height: 1.5;
    }

    .snippet {
        width: 30%;
    }

    .snippet h1 {
        font-size: 16px;
    }

    .snippet .snippet-paragraph {
        font-size: 9px;
        margin: 20px 0;
    }

    .snippet .more-text {
        font-size: 11px;
    }

    /* -------content-portfolio------ */
    .portfolio-elements {
        margin-top: 27px;
    }

    .portfolio {
        margin-top: 20px;
    }

    .portfolio h1 {
        font-size: 18px;
    }

    .portfolio h2 {
        font-size: 11px;
    }

    .portfolio .portfolio-paragraph {
        margin: 17px 0;
        font-size: 9px;
    }

    .wrapper-img-macbook img {
        width: 200px;
    }

    .content-portfolio .more-text {
        font-size: 11px;
    }

    /* -------content-our-team------ */
    .our-team-title {
        width: 75%;
    }

    .our-team-title h1 {
        font-size: 18px;
    }

    .our-team-title .our-team-title-paragraph {
        font-size: 11px;
        margin-top: 9px;
    }

    .team-members {
        width: 100%;
    }

    .team-member {
        width: 50%;
        margin-left: 14px;
    }

    .team-member h1 {
        font-size: 14px;
    }

    .team-member h2 {
        font-size: 12px;
    }

    .team-member .our-team-members-paragraph {
        font-size: 9px;
    }

    .our-team-members {
        display: flex;
        flex-direction: column
    }

    .our-team .more-text .more {
        font-size: 11px;
    }

    .our-team .more-text {
        margin-top: 25px;
    }

    .our-team-members {
        margin-top: 20px;
        line-height: 1.5;
    }

    .photo-member {
        width: 50px;
    }

    /* -------content-footer------ */
    .line {
        margin: 15px 0 18px 0;
    }

    .icons-and-copyrights {
        margin-bottom: 15px;
    }

    .social-icons {
        width: 20%;
    }

    .social-icons img {
        width: 10px;
        height: 10px;
    }

    .copyright .copyright-paragraph {
        font-size: 9px;
    }

    .copyright {
        width: 60%;
    }
}
